NEXT_PUBLIC_SUPABASE_URL=https://lvrltmuhqejoetxubvxu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_vyqYqzXyx_2bHVzHJDBEgw_x3dARXaI
SUPABASE_SERVICE_ROLE_KEY=sb_secret_ZIBhA9hkcAgjXq2eapnrMA_cZdRqfS5
